*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    -webkit-appearance: none;
    -moz-appearance: none;
}

.full-body{
    height: 100%;
}

.large-left-screen{
    display: none;
}

.top-chat-screen{
    width: 100%;
    background-color:#3474E2;
    padding: 0.8rem 2rem;
    border-bottom: 1px solid grey;
    height: 55px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}


.top-chat-screen div:first-child{
    margin-right: 10px;
    width: 40px;
}

.top-chat-screen div:first-child img{
    width: 38px;
    height: 38px;
    position: relative;
    top: 2px;
}

.top-chat-screen div:nth-child(2){
    width: 80%;
}

.top-chat-screen div:last-child{
    width: calc(20% - 40px);
    text-align: right;
}

.top-chat-screen div p:first-child{
    font-family: "Nexa",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #fff;
    margin-bottom: 3px;
}

.top-chat-screen div p:nth-child(2){
    font-family: "Dm Sans",sans-serif;
    font-style: normal;
    font-weight: normal;
    position: relative;
    bottom: 2.5px;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.5;   
}

.top-chat-screen div button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}

.chatApp{
    position: relative;
    height: calc(100% - 55px);
    background-image: url('../bg.png');
}

.chat-app-wrapper{
    height: calc(100% - 77px);
    background-position: top; 
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style:none;
    padding: 0px 10px;
}

.chat-app-wrapper::-webkit-scrollbar {
    display: none;
}

.text, .text-button{
    display: inline-block;
    max-width: 70%;
    word-wrap: break-word;
    min-width: 8%;
    padding: 1rem;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    font-family: "Dm Sans",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.text-button{
    min-width: 14%;
    cursor: pointer;
}

.bot-texts{
    margin-bottom: 8px;
    display: flex;
    min-height: 44px;
}

.bot-texts .text{
    border-radius: 2px 20px 20px 20px;
    background:#fff;
    color: #224E9C;
}

.bot-texts .text .vendor-logo{
    width: 60px;
    height: 50px;
    border: 0.5px solid transparent;
    border-radius: 5px;
}

.bot-texts .text .vendor-blocks{
    display: block;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 8px;
    color: #7F8E9D;
}

.bot-texts .text .vendor-blocks .vendor-number,.bot-texts .text .vendor-blocks .vendor-email{
    font-weight: 400;
    color: #182C69;
}

.bot-texts .text .vendor-blocks .vendor-biz-name{
    vertical-align: top;
    position: relative;
    top: 5px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #182C69;
}



.bot-texts .text-button{
    color:#fff;
    background:rgba(24, 44, 105, 0.4);
    cursor:"pointer";
    text-align: center;
    border-radius: 5px;
    backdrop-filter: blur(2px);
}


.user-texts{
    display: flex;
    min-height: 44px;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.user-texts .text{
    background: #3474E2;
    color: #fff;
    border-radius: 20px 20px 2px 20px;
}

.chat-inputs{
    width: 100%;
    height: 77px;
    padding: 16px;
    background-color: rgba(24, 44, 105,0.05);
}

.chat-inputs input{
    font-family: 'DM Sans','sans-serif';
    height: 45px;
    outline: none;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 22.5px;
    padding:0.7rem 1rem;
    width: 100%;
    padding-right: 50px;
    font-size: 13px;
}

.chat-inputs input::placeholder{
    font-family: 'DM SANS','sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #7F8E9D;;
}
.wrap{
    height: 100%;
    padding-top: 12px;
}

.chat-inputs img{
    height: 20px;
    width: 20px;
    position: absolute;
    cursor : pointer;
    bottom: 28.5px;
    left: calc(100% - 60px);
}

@media(max-width:750px){

    .top-chat-screen{
        padding: 0.4rem 16px;
    }
    
    .chat-inputs img{
        left: calc(100% - 56px);
    }
    .top-chat-screen div p:nth-child(2){
        bottom: 5px;
        font-size: 11.5px;
    }

    .text-button{
        width: 45% ;
    }

}

@media(min-width:900px){
    .full-body{
        display: flex;
        width: 100%;
        padding:50px 3.67%;
    }

    .large-left-screen{
        display: block;
        width: 31.8%;
        background-color: #3474E2;
        padding: 46px 24px;
    }

    .top-chat-screen{
        display: none;
    }
    .chatApp{
        height: 100%;
        width: 68.2%;
    }

    .large-left-screen .names{
        display: flex;
    }

    .names{
        margin-bottom: 28px;
    }

    .names div p:first-child{
        font-family: "DM Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 18px;
        color: #FFFFFF;
    }

    .names div p:nth-child(2){
        font-family: "DM Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
        opacity: 0.5;
    }

    .names img{
        margin-right: 20px;
    }

    .large-left-screen ul{
        list-style-type: none;
    }
    .large-left-screen ul li{
        margin-bottom: 20px;
    }
    
    .large-left-screen ul li .left-chat-link{
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        text-decoration: none;
        color: #FFFFFF;
        transition: all .2s linear;
    }

    .large-left-screen ul li .left-chat-link:hover{
        color: #224E9C;
    }

}

@media(min-width:1013px){
    .full-body{
        padding:40px 5.67%;
    }   
}

@media(min-width:1250px){
    .full-body{
        padding:40px 8.67%;
    }   
}