*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#chat-wrapper{
    height: 100vh;
}


.top-chat-screen{
    background-color:#ffffff;
    text-align: center;   
    padding: 0.8rem 2rem;
    border-bottom: 1px solid grey;
    height: 55px;
    box-sizing: border-box;
}

.top-chat-screen span{
    font-family: Sarabun;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #AA2384;
}

.top-chat-screen button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 22px;
    float: right;
    color: black;
    font-weight: bold;
}

.chatApp{
    position: relative;
    height: calc(100% - 55px);
}

.chat-app-wrapper{
    height: calc(100% - 45px);
    background-position: top; 
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../apigbg.svg');
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    -ms-overflow-style:none;
    padding: 0px 10px;
}

.chat-app-wrapper::-webkit-scrollbar {
    display: none;
}

.text{
    display: inline-block;
    max-width: 70%;
    min-width: 8%;
    padding: 1rem;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    position: relative;
}

.bot-texts{
    margin-bottom: 8px;
    display: flex;
    min-height: 44px;
}

.bot-texts .text{
    border-radius: 2px 20px 20px 20px;
    background:#fff;
    color: #AA2384;
}

.user-texts{
    display: flex;
    min-height: 44px;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.user-texts .text{
    background: #E287C9;
    color: #fff;
    border-radius: 20px 20px 2px 20px;
}

.chat-inputs{
    width: 100%;
    height: 45px;
    padding: 0rem 1rem;
}

.chat-inputs input{
    height: 45px;
    border: 1px solid #AA2384;
    border-radius: 22.5px;
    padding:0.7rem 1rem;
    width: 100%;
}

.chat-inputs input::placeholder{
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #E287C9;
}
.wrap{
    height: 100%;
}

.chat-inputs img{
    height: 20px;
    width: 20px;
    position: absolute;
    cursor : pointer;
    bottom: 12.5px;
    left: calc(100% - 60px);

}

@media(max-width:750px){
    .chat-inputs{
        padding: 0rem;
    }
    .chat-inputs img{
        left: calc(100% - 40px);
    }
}