.wrapper{
    /* padding: 0px 11.07%; */
    padding-top: 55px;
}

.top-desc{
    display: flex;
    width: 100%;
    padding: 0px 14%;
    margin-bottom: 85px;
}

.top-desc .imgs{
    width: 20%;
    border: 1px solid red;
    margin-right: 60px;
    text-align: right;  
}

.top-desc .imgs img{
    width: 282px;
    height: 478.18px;
}

.top-desc .imgs-sm{
    display: none;
}

.top-desc .desc{
    width: 80%;
    padding-top: 88px;
}

.top-desc .desc h4{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: -0.165px;
    max-width: 400px;
    color:  #091133;
    margin-bottom: 20px;
}
.top-desc .desc p{
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.165px;
    color: #4F5665;
    margin-bottom: 50px;
}

.top-desc .desc div .link-btn{
    padding: 22px 12px;
    color: #ffffff;
    background-color: #3474E2;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    width: calc(50% - 20px);
    min-height: 50px;
    text-align: center;
    box-sizing: border-box;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.top-desc .desc div .link-btn2{
    margin-left: 40px;
    background-color: #D4E2FA;
    color:#224E9C;
}

.vendor-desc-img{
    margin-bottom: 52px;
}

.vendor-desc-img img{
    width: 100%;
}


@media(max-width:1150px){
    .about-us .about-us-img img{
        bottom: 20px;
        width: 150px;
        height: 306px;
    }

    .wrapper{
        /* padding: 0px 8%; */
        padding-top: 48px;
    }
}

@media(max-width:1013px){
    /* .wrapper{
        padding: 0px 11.4%;
    } */

    .vendor-desc-img{
        margin-bottom: 22px;
    }

    .vendor-desc-img img{
        width: 100%;
        height: 260px;
    }

    .top-desc{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
    }
    
    .top-desc .imgs{
        display: none;
    }
    .top-desc .desc{
        margin-bottom: 25px;
    }

    .top-desc .desc h4{
        text-align: center;
        padding: 0px 20px;
        font-size: 28px;
    }

    .top-desc .desc p{
        text-align: center;
        font-size: 16px;
    }

    .top-desc .imgs-sm{
        display: flex;
        justify-content: center;
    }

    .top-desc .imgs-sm img{
        width: 220px;
        height: 240px;
    }
}


@media(max-width:750px){
    .top-desc .imgs-sm img{
        width: 156px;
        height: 169px;
    }

    .wrapper{
        padding: 0px 16px;
    }


    .vendor-desc-img{
        margin-bottom: 16px;
    }

    .vendor-desc-img img{
        height: 210px;
    }

    .top-desc .desc div .link-btn{
        width: 100%;
        margin-bottom: 11px;
        margin-left:0px;
    }

    .top-desc .desc h4{
        font-size: 24px;
        padding: 0 15px;
    }
}

@media(max-width:500px){
    .vendor-desc-img img{
        height: 175px;
    }
}

@media(max-width:410px){
    .vendor-desc-img img{
        height: 145px;
    }
} 